@model IEnumerable<AgendaServicios.Web.Models.Cliente>

@{
	ViewData["Title"] = "Listado de clientes";
}

<h2>@ViewData["Title"]</h2>

<p>
	<a asp-action="Create" class='btn btn-primary'>Nuevo cliente</a>
</p>

<form asp-action="Index" method="get">
	<dl class="row">
		<dt class="col-sm-2">
			<label for="apellido">Apellido:</label>
		</dt>
		<dd class="col-sm-10">
			<input type="text" id="apellido" name="apellido" value="@ViewBag.Apellido" />
			<button type="button" class="clear-input">X</button>
		</dd>

		<dt class="col-sm-2">
			<label for="nombre">Nombre:</label>
		</dt>
		<dd class="col-sm-10">
			<input type="text" id="nombre" name="nombre" value="@ViewBag.Nombre" />
			<button type="button" class="clear-input">X</button>
		</dd>

		<dt class="col-sm-2">
			<label for="numeroDocumento">Número Documento:</label>
		</dt>
		<dd class="col-sm-10">
			<input type="text" id="numeroDocumento" name="numeroDocumento" value="@ViewBag.numeroDocumento" />
			<button type="button" class="clear-input">X</button>
		</dd>

		<dt class="col-sm-2"></dt>
		<dd class="col-sm-10">
			<input type="submit" value="Buscar" class="btn btn-success" />
			<button type="button" id="clearAllInputs" class="btn btn-light">Limpiar Todos</button>
		</dd>
	</dl>
</form>
<hr />

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>

			@* 			<th>
			@Html.DisplayNameFor(model => model.FechaNacimiento)
			</th>
			*@
			<th>
				@Html.DisplayNameFor(model => model.TipoDocumento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumeroDocumento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Calle)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Altura)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Barrio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Partido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CodigoPostal)
			</th>

			@* 			<th>
			@Html.DisplayNameFor(model => model.CuitCuil)
			</th>
			<th>
			@Html.DisplayNameFor(model => model.RazonSocial)
			</th>
			*@
			<th>
				@Html.DisplayNameFor(model => model.CorreoElectronico)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Celular)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Telefono)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Localidad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Provincia)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>

				@* 				<td>
			@Html.DisplayFor(modelItem => item.FechaNacimiento)
			</td>
			*@
				<td>
					@Html.DisplayFor(modelItem => item.TipoDocumento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroDocumento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Calle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Altura)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Barrio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Partido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CodigoPostal)
				</td>
				@*
			<td>
			@Html.DisplayFor(modelItem => item.CuitCuil)
			</td>
			<td>
			@Html.DisplayFor(modelItem => item.RazonSocial)
			</td>
			*@
				<td>
					@Html.DisplayFor(modelItem => item.CorreoElectronico)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Celular)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telefono)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Localidad.Descripcion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Provincia.Descripcion)
				</td>
				<td>
					@*
				<a asp-action="Edit" asp-route-id="@item.ClienteId">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.ClienteId">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.ClienteId">Delete</a>
				*@

				<td>
					<a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-sm btn-warning" title="Editar">
						<i class="fas fa-edit"></i>
					</a>
					<a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-sm btn-info" title="Detalle">
						<i class="fas fa-info-circle"></i>
					</a>
					<a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-sm btn-danger" title="Eliminar">
						<i class="fas fa-trash"></i>
					</a>
				</td>
				</td>
			</tr>
		}
	</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	$(document).ready(function () {
		$(".clear-input").click(function () {
			// Busca el campo de entrada anterior (hermano anterior) y borra su contenido
			$(this).prev('input').val('');
		});
	});
</script>